#
# https://projectlombok.org/features/configuration
#

## Tell the configuration system it should stop looking for other configuration files (default: false).
config.stopBubbling = true

## Generate getters and setters using only the field name (no get/set prefix) (default: false).
lombok.accessors.fluent = true

## Copy these annotations to getters, setters, withers, builder-setters, etc.
## (source: https://github.com/tlinkowski/basic-annotations)
lombok.copyableAnnotations += kotlin.annotations.jvm.ReadOnly
lombok.copyableAnnotations += kotlin.annotations.jvm.Mutable
lombok.copyableAnnotations += pl.tlinkowski.annotation.basic.NullOr

## Generate @lombok.Generated on all generated code (default: false).
lombok.addLombokGeneratedAnnotation = true

## Generate a private no-args constructor for @Data and @Value (default: true).
# lombok.noArgsConstructor.extraPrivate = [false | true]

## When generating equals and hashCode for classes that extend something (other than Object), either automatically take
## into account superclass implementation (call), or don't (skip), or warn and don't (warn). (default = warn).
# lombok.equalsAndHashCode.callSuper = [CALL | SKIP | WARN]

## When generating toString for classes that extend something (other than Object), either automatically take
## into account superclass implementation (call), or don't (skip), or warn and don't (warn). (default = warn).
# lombok.toString.callSuper = [CALL | SKIP | WARN]

## Include the field names in the generated toString method (default = true).
# lombok.toString.includeFieldNames = [false | true]

#
# FLAG USAGE
#

## Emit a warning or error if @Cleanup is used.
lombok.cleanup.flagUsage = ERROR

## Emit a warning or error if @Delegate is used.
lombok.delegate.flagUsage = ERROR

## Emit a warning or error if @ExtensionMethod is used.
lombok.extensionMethod.flagUsage = ERROR

## Emit a warning or error if @FieldDefaults is used.
lombok.fieldDefaults.flagUsage = ERROR

## Emit a warning or error if @Helper is used.
lombok.helper.flagUsage = ERROR

## Emit a warning or error if @CommonsLog is used.
lombok.log.apacheCommons.flagUsage = ERROR

## Emit a warning or error if @Flogger is used.
lombok.log.flogger.flagUsage = ERROR

## Emit a warning or error if @Log is used.
lombok.log.javaUtilLogging.flagUsage = ERROR

## Emit a warning or error if @JBossLog is used.
lombok.log.jbosslog.flagUsage = ERROR

## Emit a warning or error if @Log4j is used.
lombok.log.log4j.flagUsage = ERROR

## Emit a warning or error if @Log4j2 is used.
lombok.log.log4j2.flagUsage = ERROR

## Emit a warning or error if @Synchronized is used.
lombok.synchronized.flagUsage = ERROR

## Emit a warning or error if 'var' is used.
lombok.var.flagUsage = ERROR
