#
# Config keys that can affect any source file
# https://projectlombok.org/features/configuration#config-keys-that-can-affect-any-source-file
#

## If true, fields, in any file (lombok annotated or not) are marked as final. Use @NonFinal to override this.
# lombok.fieldDefaults.defaultFinal = true

## If true, fields without any access modifier, in any file (lombok annotated or not) are marked as private. Use @PackagePrivate or an explicit modifier to override this.
# lombok.fieldDefaults.defaultPrivate = true

#
# Remaining config keys
# https://projectlombok.org/features/configuration
#

## Tell the configuration system it should stop looking for other configuration files (default: false).
config.stopBubbling = true

## Generate getters and setters using only the field name (no get/set prefix) (default: false).
lombok.accessors.fluent = true

## Copy these annotations to getters, setters, withers, builder-setters, etc.
lombok.copyableAnnotations += kotlin.annotations.jvm.ReadOnly
lombok.copyableAnnotations += kotlin.annotations.jvm.Mutable

## Generate @lombok.Generated on all generated code (default: false).
lombok.addLombokGeneratedAnnotation = true

## Generate @edu.umd.cs.findbugs.annotations.SuppressFBWarnings on all generated code (default: false).
# lombok.extern.findbugs.addSuppressFBWarnings = [false | true]

## Generate a private no-args constructor for @Data and @Value (default: true).
# lombok.noArgsConstructor.extraPrivate = [false | true]

## Include the field names in the generated toString method (default = true).
# lombok.toString.includeFieldNames = [false | true]

#
# FLAG USAGE
#

## Emit a warning or error if @Cleanup is used.
lombok.cleanup.flagUsage = ERROR

## Emit a warning or error if @Delegate is used.
lombok.delegate.flagUsage = ERROR

## Emit a warning or error if @ExtensionMethod is used.
lombok.extensionMethod.flagUsage = ERROR

## Emit a warning or error if @Helper is used.
lombok.helper.flagUsage = ERROR

## Emit a warning or error if @Synchronized is used.
lombok.synchronized.flagUsage = ERROR

## Emit a warning or error if 'var' is used.
lombok.var.flagUsage = ERROR

